<%= form_for(@user, html: { method: :post }) do |f| %>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username,  autofocus: true, class: "input" %>
  </div> 

  <div class="field">
    <%= f.label :email, class: "label" %>
    <%= f.email_field :email, autocomplete: "email", class: "input"%>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
  </div>

  <div class="field">
    <%= f.label :credit_card_number %>
    <%= f.text_field :credit_card_number, class: "input" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "button" %>
  </div>
<% end %>
